
body {
    background-color: #eeeeee;
    text-align: center;
    font-family: "Roboto", sans-serif, Helvetica, Calibri;
    font-size: 110%;
    opacity:0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    color: #909090;
}
#time {
    text-align: center;
    margin-top: 2%;
    color: #808080;
    font-size: 140%;
    padding-bottom: 3%;
}

input[type=text]:focus {
    border: 4px solid #909090;
}
table, td, th {
    margin: auto;
    width: 10%;
    border: 0px solid black;
}
div.outer {
	display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
div.middle {
    display: table-cell;
    vertical-align: middle;
}
div.links {
	margin-left: auto;
    	margin-right: auto;
    	width: 100%;
	font-size: 90%;
  padding-bottom: 3%;
}

footer {
    font-size: 60%;
    padding-top: 3%;
    border-top:1px solid #909090;
}
a:link {
	text-decoration: none;
	color: #909090;
}

a:hover {
	text-decoration: none;
	color: #909090;

}
a:visited {
    color: #909090;
}
